@model TodoItem
@inject IDateTimeProvider dateTimeProvider

@{
    ViewData["Title"] = "Dashboard";
}

<div id="dashboard">
    <div class="dashboard-col horizontal-flex">
        <div id="schedule-container" class="dashboard-item horizontal-flex grow">
            <h2 class="container-title"> 
                scheduled 
            </h2>
            <div id="schedule-partial" class="scroll-content"> </div>
        </div>
    </div>

    <div class="dashboard-col horizontal-flex">
        <div id="todolist-container" class="dashboard-item horizontal-flex grow">
            <h2 class="container-title">
                todo 
            </h2>
            <div id="todolist-partial" class="scroll-content"> </div>
        </div>

        <div id="popup-add-container">
            <div id="todoadd-container" class="dashboard-item">
                <form action="/" id="todoadd-form" autocomplete="off">
                    <input id="desc-input" placeholder="add a new todo"/>
                    <button id="btn-submit" type="submit" onclick="handleBtnSubmitClick(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </button>
                </form>
            </div>

            <div id="todopopup"> </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        getDayNumber = () => @dateTimeProvider.Date.DayNumber
        getActionUrl = (action_name) => '/Todo/' + action_name
    </script>
    <script defer src="~/js/dashboard.js"></script>
    <script defer src="~/js/schedule.js"></script>
}
