@{
    ViewData["Title"] = "Dashboard";
}

<div class="todolist-container">
    <div class="todolist-title"> 
        todo 
    </div>
    <div id="todolist-partial">

    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        loadTodoList = () => {
            $.ajax({
                url: '@Url.Action("TodoListPartial")',
                type: 'POST'
            }).done((data) => {
                $('#todolist-partial').html(data)
            }).fail((e) => {
                $('#todolist-partial').html(e.status + ': ' + e.responseText)
            })
        }

        handleBtnDoneClick = (elem) => {
            var id = $(elem).attr('id')

            $.ajax({
                url: '@Url.Action("ChangeDoneStateAjax")',
                data: {
                    id: id
                },
                type: 'POST'
            }).done(loadTodoList)
        }

        $(document).ready(loadTodoList)
    </script>
}
