@{
    ViewData["Title"] = "Dashboard";
}

@functions{
    void TodoItemTemplate(TodoItem todo){
        <div>
            <span>
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <input type="checkbox" name="checkedState" checked=@TempData["c"] onChange="this.form.submit()" />
                }
            </span>

            <span> 
                @todo.Name
            </span>
        </div>
    }
}


<h1> Todo Items </h1>

<span class="todolist-container">
    @await Component.InvokeAsync("TodoList")
</span>

<p>some text</p>
