:root {
    --col-bg-darkest: #121616;
    --col-bg-dark: #1E2121;
    --col-bg-light: #323535;
    --col-bg-lightest: #494C4C;
    --col-done-dark: #2A2D2D;
    --col-done-light: #525454;
    --col-done-txt-dark: #777777;
    --col-done-txt-light: #919191;
    --col-txt-white: #FFFFFF;
    --col-txt-gray: #C9C9C9;
    --col-purple: #9B3786;
    --col-blue: #286C77;
    --col-blue-hover: #26777F;
    --col-border-light: #494C4C;
    --col-border-lightest: #63676C;
    --schedule-row-height: 2rem;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px; /* horizontal mode scroll */
    background-color: var(--col-bg-darkest);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--col-blue);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--col-blue-hover);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background-color: var(--col-bg-dark);
    font-family: 'Nunito', sans-serif;
    color: var(--col-txt-white);
    font-weight: 100;
}

#dashboard {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    top: 5vh;
}

.dashboard-col {
    gap: 25px;
    height: 90vh;
    min-height: 500px;
}

.horizontal-flex {
    display: flex;
    flex-direction: column;
}

.vertical-flex {
    display: flex;
    flex-direction: row;
}

.dashboard-item {
    border-radius: 15px;
    padding: 15px 25px;
    background-color: var(--col-bg-light);
    height: 100%;
}

.grow {
    flex-grow: 1;
}

.scroll-content {
    overflow-y: auto;
    height: 100%;
}

#todolist-container {
    width: 600px;
}

.container-title {
    font-weight: 100;
}

.todolist {
    list-style-type: none;
    padding-left: 0;
}

.todoitem {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 15px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--col-bg-dark);
}

.todoitem:not(:last-child) {
    margin-bottom: 10px;
}

.todoitem.done {
    background-color: var(--col-done-dark);
}

.todoitem-left {
    width: 10px;
    background-color: var(--col-blue);
    transition-duration: 0.3s;
}

.todoitem-left:hover {
    background-color: var(--col-blue-hover);
}

.todoitem:hover .todoitem-left {
    width: 60px;
    border-radius: 15px;
}

.done .todoitem-left {
    background-color: var(--col-done-light);
}

.todoitem-btn-done {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none !important;
}

.todoitem-right {
    padding: 6px 0;
}

.todoitem-desc {
    overflow-wrap: break-word;
    color: var(--col-txt-white);
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 400;
}

.done .todoitem-desc {
    color: var(--col-done-txt-light);
}

.todoitem-info {
    color: var(--col-txt-gray);
    font-size: 1rem;
    margin: 0;
}

.done .todoitem-info {
    color: var(--col-done-txt-dark);
}

.todoitem-tag {
    font-size: 0.8rem;
    background: var(--col-bg-darkest);
    color: var(--col-txt-white);
    padding: 1px 12px;
    border-radius: 6px;
    margin-left: 2px;
}

.todoitem-tag:first-child {
    margin-left: 15px;
}

#todoadd-container {
    overflow: visible;
}

#desc-input {
    background-color: var(--col-bg-lightest);
    color: var(--col-txt-white);
    padding: 4px 20px;
    border: none !important;
    border-radius: 15px;
    width: 100%;
    outline: none;
}

#todoadd-container form {
    position: relative;
}

#btn-submit {
    position: absolute;
    background-color: var(--col-blue);
    border: none !important;
    border-radius: 100%;
    right: -35px;
    bottom: -25px;
    width: 55px;
    height: 55px;
    color: var(--col-txt-gray);
    transition-duration: 0.5s;
}

#btn-submit:hover {
    background-color: var(--col-blue-hover);
    color: var(--col-txt-white);
    transform: scale(115%) rotate(180deg);
}

#btn-submit.animate{
    animation: btnSubmitClickAnim 0.2s ease 1;
}

#popup-add-container {
    position: relative;
}

#todopopup {
    display: none;
    position: absolute;
    background-color: var(--col-purple);
    width: 100%;
    padding: 35px 40px 10px;
    border-radius: 15px;
    text-align: center;
    z-index: -1;
    transform: translateY(-25px);
    font-weight: 400;
}

.schedule .schedule-right {
    border-top: 1px solid;
    border-image: linear-gradient(
        to right, 
        rgb(255, 255, 255, 0.00),
        var(--col-border-light) 20%,
        var(--col-border-light) 80%,
        rgb(255, 255, 255, 0.00) ) 1;
}

.schedule .schedule-right:nth-child(5n - 3){
    border-image: linear-gradient(
        to right, 
        rgb(255, 255, 255, 0.00),
        var(--col-border-lightest) 20%,
        var(--col-border-lightest) 80%,
        rgb(255, 255, 255, 0.00) ) 1;
}

.schedule {
    margin-top: 0.65rem;
    padding-right: 10px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    width: 400px;
}

.schedule-left {
    grid-row: span 4;
}

.schedule-left > div {
    margin-right: 10px;
    margin-top: -0.65rem;
}

.schedule-right {
    position: relative;
    height: var(--schedule-row-height);
}

.schedule-item {
    position: absolute;
    width: 100%;
    height: calc(var(--schedule-row-height) * var(--time-span, 1) - 3px);
    top: 1px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--col-bg-dark);
}

/* overlay for dimming out border lines */
.schedule-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--col-bg-dark);
    opacity: 0.7;
    z-index: 1;
}

.schedule-item > * {
    z-index: 1;
}

.schedule-item .content {
    padding: 5px 15px;
}

.vertical-grab.container {
    display: table;
    background-color: var(--col-bg-dark);
    width: min-content;
    padding: 0;
}

.vertical-grab.grabbable {
    display: table-cell;
    vertical-align: middle;
    padding: 0 3px;
}

.vertical-grab.grabbable svg {
    display: table-cell;
}

.schedule-item .horizontal-grab {
    height: 5px;
}

.horizontal-grab.container {
    background-color: var(--col-blue);
}

.horizontal-grab.container:hover {
    background-color: var(--col-blue-hover);
}

.grabbable {
    cursor: move; /* fallback if cursor is unsupported */
    cursor: grab;
}

.grabbable:active {
    cursor: grabbing; 
}

.resizable-row {
    cursor: move; /* fallback if cursor is unsupported */
    cursor: row-resize;
}


@keyframes btnSubmitClickAnim {
    0% {
        transform: scale(80%);
    }

    70% {
        transform: scale(120%);
    }

    100% {
        transform: scale(115%);
    }
}
