:root {
    --col-bg-darkest: #121616;
    --col-bg-dark: #1E2121;
    --col-bg-light: #323535;
    --col-done-dark: #2A2D2D;
    --col-done-light: #525454;
    --col-done-txt-dark: #777777;
    --col-done-txt-light: #919191;
    --col-txt-white: #FFFFFF;
    --col-txt-gray: #C9C9C9;
    --col-blue: #286C77;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    margin-bottom: 60px;
    background-color: var(--col-bg-dark);
    color: white;
}

.todolist-container {
    display: inline-block;
    width: 600px;
    padding: 5px 25px;
    background-color: var(--col-bg-light);
    overflow: hidden;
    border-radius: 15px;
    min-height: 1000px;
}

.todolist-title {
    color: var(--col-txt-white);
    font-size: 38px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}

.todolist {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}

.todolist li {
    position: relative;
    background-color: var(--col-bg-dark);
    border-radius: 15px;
    overflow: hidden;
    height: 60px;
}

.todolist li:not(:last-child) {
    margin-bottom: 10px;
}

.todolist li.done {
    background-color: var(--col-done-dark);
}

.todoitem-left {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 100%;
    background-color: var(--col-blue);
    margin-right: 20px;
    transition-duration: 0.3s;
    overflow: hidden;
}

.done .todoitem-left {
    background-color: var(--col-done-light);
}

.todolist li:hover .todoitem-left {
    width: 60px;
    border-radius: 15px;
}

.todoitem-btn-done {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none !important;
}

.todoitem-right {
    position: absolute;
    display: inline;
    vertical-align: top;
}

.todoitem-name {
    color: var(--col-txt-white);
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: -3px;
}

.done .todoitem-name {
    color: var(--col-done-txt-light);
}

.todoitem-info {
    color: var(--col-txt-gray);
    font-size: 14px;
    margin: 0;
}

.done .todoitem-info {
    color: var(--col-done-txt-dark);
}

.todoitem-tag {
    display: inline-flex;
    font-size: 12px;
    background: var(--col-bg-darkest);
    color: var(--col-txt-white);
    padding: 1px 12px;
    border-radius: 6px;
    margin-left: 2px;
}

.todoitem-tag:first-child {
    margin-left: 12px;
}
