:root {
    --col-bg-darkest: #121616;
    --col-bg-dark: #1E2121;
    --col-bg-light: #323535;
    --col-bg-lightest: #494C4C;
    --col-done-dark: #2A2D2D;
    --col-done-light: #525454;
    --col-done-txt-dark: #777777;
    --col-done-txt-light: #919191;
    --col-txt-white: #FFFFFF;
    --col-txt-gray: #C9C9C9;
    --col-purple: #9B3786;
    --col-blue: #286C77;
    --col-blue-hover: #26777F;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    margin-bottom: 60px;
    background-color: var(--col-bg-dark);
    color: white;
}

#dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.dashboard-item {
    padding: 15px 25px;
    background-color: var(--col-bg-light);
    border-radius: 15px;
}

#todolist-container {
    min-height: 800px;
    width: 600px;
    overflow: hidden;
}

.container-title {
    color: var(--col-txt-white);
    font-size: 2.5rem;
    font-weight: 100;
    padding-bottom: 5px;
}

.todolist {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}

.todoitem {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 15px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--col-bg-dark);
}

.todoitem:not(:last-child) {
    margin-bottom: 10px;
}

.todoitem.done {
    background-color: var(--col-done-dark);
}

.todoitem-left {
    width: 10px;
    background-color: var(--col-blue);
    overflow: hidden;
    transition-duration: 0.3s;
}

.todoitem:hover .todoitem-left {
    width: 60px;
    border-radius: 15px;
}

.done .todoitem-left {
    background-color: var(--col-done-light);
}

.todoitem-btn-done {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none !important;
}

.todoitem-right {
    padding: 6px 0;
}

.todoitem-desc {
    overflow-wrap: break-word;
    color: var(--col-txt-white);
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 400;
}

.done .todoitem-desc {
    color: var(--col-done-txt-light);
}

.todoitem-info {
    color: var(--col-txt-gray);
    font-size: 1rem;
    margin: 0;
}

.done .todoitem-info {
    color: var(--col-done-txt-dark);
}

.todoitem-tag {
    font-size: 0.8rem;
    background: var(--col-bg-darkest);
    color: var(--col-txt-white);
    padding: 1px 12px;
    border-radius: 6px;
    margin-left: 2px;
}

.todoitem-tag:first-child {
    margin-left: 15px;
}

#todoadd-container {
    margin-top: 25px;
}

#desc-input {
    background-color: var(--col-bg-lightest);
    color: var(--col-txt-white);
    padding: 4px 20px;
    border: none !important;
    border-radius: 15px;
    width: 100%;
    outline: none;
}

#todoadd-container form {
    position: relative;
}

#btn-submit {
    position: absolute;
    background-color: var(--col-blue);
    border: none !important;
    border-radius: 50%;
    right: -35px;
    bottom: -25px;
    width: 55px;
    height: 55px;
    color: var(--col-txt-gray);
    transition-duration: 0.5s;
}

#btn-submit:hover {
    background-color: var(--col-blue-hover);
    color: var(--col-txt-white);
    transform: scale(115%) rotate(180deg);
}

#btn-submit.animate{
    animation: btnSubmitClickAnim 0.2s ease 1;
}

#popup-add-container {
    position: relative;
}

#todopopup {
    display: none;
    position: absolute;
    background-color: var(--col-purple);
    width: 100%;
    padding: 35px 40px 10px;
    border-radius: 15px;
    text-align: center;
    z-index: -1;
    transform: translateY(-25px);
    font-weight: 400;
}

.schedule {
    list-style-type: none;
    padding-left: 0;
    margin-top: 13px;
}

.scheduleitem {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 20px;
    width: 400px;
}

.scheduleitem:not(:last-child) {
    margin-bottom: 10px;
}

.scheduleitem-left {
    position: relative;
    font-size: 0.8rem;
    top: -13px;
    color: var(--col-txt-gray)
}

.scheduleitem-right {
    min-height: 70px;
}

.schedule-freetime {
    display: block;
    min-height: 0;
    background-color: var(--col-done-dark);
    color: var(--col-txt-gray);
    padding: 5px 25px;
}

#schedule-pointer {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0%;
    background-color: var(--col-purple);
}

#schedule-pointer p{
    display: block;
    position:absolute;
    color: var(--col-purple);
    top: -13px;
    font-size: 0.8rem;
    font-weight: 400;
}


@keyframes btnSubmitClickAnim {
    0% {
        transform: scale(80%);
    }

    70% {
        transform: scale(120%);
    }

    100% {
        transform: scale(115%);
    }
}