@model ScheduleViewModel
@inject IDateTimeProvider dateTimeProvider

@functions {
    const int MIN_INTERVAL = 15;
    const int MINS_PER_DAY = 1440;
}


<div class="schedule">
    @for (int h = 0; h < 24; h++)
    {
        <div class="schedule-left"> @String.Format("{0:00}:00", h) </div>
        <div class="schedule-right">  </div>
        <div class="schedule-right">  </div>
        <div class="schedule-right">  </div>
        <div class="schedule-right">  </div>
    }
</div>
