@model ScheduleViewModel
@inject IDateTimeProvider dateTimeProvider


<div class="schedule">
    @for (int h = 0; h < 24; h++)
    {
        <div class="schedule-left"> @String.Format("{0:00}:00", h) </div>
        <div class="schedule-right">  </div>
        <div class="schedule-right">  </div>
        <div class="schedule-right">  </div>
        <div class="schedule-right">  </div>
    }
</div>
